<html>
	<head>
		<title>
		{% if title == "Homepage" %}
		Homepage | Welcome Home
		{% elif title == "About" %}
		About Page | My Website
		{% elif title == "Contacts" %}
		Contacts Page | My Contacts
		{% else %}
		My Website
		{% endif %}
		</title>
	
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	</head>
	<body>
	<h1>Today is {{weather_summary}}.</h1>
	<h1>Today is {{weather_temperature}} Celcius.</h1>
	<h1>Humidity is {{weather_humidity}}.</h1>

		<a href="/">Homepage</a>
		<a href="/about.html">About</a>
		<a href="/contacts.html">Contacts</a>